{% extends 'navbar.html' %}
{% block content %}

<div class="container">
  <br>
  <br>
  <div class="search-box" data-aos="fade-up">
    <form action='search' id='searcher' method='post' class = 'former'>

      {% csrf_token %}

      <input type="text" class="search-input" placeholder="Search for a Stock" name='name'>
      <button class="search-button" type='submit' form='searcher'>
        <i class="fas fa-search"></i>
      </button>
    </form>
    
  </div>
</div>

<div id="contact" data-aos="fade-right">
  <h1>Contact Us</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" data-aos="flip-left">
        <h3>Hardik Kapadia</h3>
        <p>hk@abc.com</p>
        <p>1234560908</p>
        <h4>Delhi</h4>
      </div>
      <div class="col-sm-3" data-aos="flip-right">
        <h3>Tanmay Tete</h3>
        <p>tt@abc.com</p>
        <p>9786756754</p>
        <h4>Chennai</h4>
      </div>
      <div class="col-sm-3" data-aos="flip-left">
        <h3>SashankMvv</h3>
        <p>svv@abc.com</p>
        <p>7645629650</p>
        <h4>Ahemdabad</h4>
      </div>
      <div class="col-sm-3" data-aos="flip-right">
        <h3>Manasi Varaiya</h3>
        <p>mv@abc.com</p>
        <p>7875654235</p>
        <h4>Mumbai</h4>
      </div>
    </div>
  </div>
</div>

<div id="about" data-aos="fade-left">
  <h1>About</h1>
  <p>With the real-time information available to us on massive social media platforms like Twitter, we have all the data we could ever need to create these predictions.Through sentiment analysis, we can take thousands of tweets about a company and judge whether they are generally positive or negative (the sentiment) in real-time! The fascinating quality about this app is something that we can measure and use to predict market movement with surprising accuracy levels.</p>
</div>

{% endblock %}