{% block content %}
<div id="contact" data-aos="fade-right">
    <h1>Contact Us</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3" data-aos="flip-left">
          <h3>Hardik Kapadia</h3>
          <p>hk@abc.com</p>
          <p>1234560908</p>
          <h4>Delhi</h4>
        </div>
        <div class="col-sm-3" data-aos="flip-right">
          <h3>Tanmay Tete</h3>
          <p>tt@abc.com</p>
          <p>9786756754</p>
          <h4>Chennai</h4>
        </div>
        <div class="col-sm-3" data-aos="flip-left">
          <h3>SashankMvv</h3>
          <p>svv@abc.com</p>
          <p>7645629650</p>
          <h4>Ahemdabad</h4>
        </div>
        <div class="col-sm-3" data-aos="flip-right">
          <h3>Manasi Varaiya</h3>
          <p>mv@abc.com</p>
          <p>7875654235</p>
          <h4>Mumbai</h4>
        </div>
      </div>
    </div>
  </div>
  
  <div id="about" data-aos="fade-left">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fuga quaerat facilis minus sapiente ab error
      exercitationem autem omnis nisi natus fugit numquam, est quasi, eveniet quae aliquid voluptatibus! Modi
      consequuntur, architecto natus libero eaque error consequatur corporis reiciendis, culpa dolorum illum cumque soluta
      voluptatum tempore amet quas sint magnam ex quo. Expedita hic ea tempore cum veritatis totam explicabo, praesentium,
      illo id distinctio quam. Magnam, deleniti expedita neque dolores porro vel temporibus necessitatibus sapiente,
      cupiditate, ut autem. Iure fugit ipsam rerum vel voluptatem. At odio asperiores nesciunt quia? Culpa fugiat eaque
      vel similique atque vitae reprehenderit distinctio consequuntur laborum?</p>
  </div>
{% endblock %}