{% extends 'navbar.html' %}
{% block content %}

<div class="container">
  <br>
  <br>
  <div class="search-box" data-aos="fade-up">
    <form action='search' id='searcher' method='post' class = 'former'>

      {% csrf_token %}

      <input type="text" class="search-input" placeholder="Search for a Stock" name='name'>
      <button class="search-button" type='submit' form='searcher'>
        <i class="fas fa-search"></i>
      </button>
    </form>
    
  </div>
</div>
{% include 'extra.html' %}
{% endblock %}