{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <title>Document</title>
</head>
<body>
      <section data-aos="fade-down">
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
        <div class="header" data-aos="zoom-in">
            <h1>STONKS</h1>
        </div>
    </section>
    <script>
        AOS.init();
      </script>

<div class="row row-border">
  <div class="col-md-4 column-border">
    <h3>Name</h3>
  </div>
  <div class="col-md-4 column-border">
    <h3>Symbol</h3>
  </div>
  <div class="col-md-4 column-border">
    <h3>Country</h3>
  </div>
</div>
<div class="row row-border">
  <div class="col-md-4 column-border">
    <h3>Current Price</h3>
  </div>
  <div class="col-md-4 column-border">
    <h3>Score</h3>
  </div>
  <div class="col-md-4 column-border">
    <h3>Predictions</h3>
  </div>
</div>
    <!-- <div class="container d-flex m-4 mt-5 justify-content-center">
        <div class="card align-items-center justify-content-center m-2" style="width: 18rem;">
            <ul class="list-group list-group-flush final-container">
              <li class="list-group-item">Name: Apple</li>
              <li class="list-group-item">Syymbol: AAPL</li>
              <li class="list-group-item">Current Price: 121.6</li>
              <li class="list-group-item">Last Closing: 120.99</li>      
            </ul>
        </div>
        <div class="card p-2 m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div> 
        <div class = "m-2">
            <div class="card p-2" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card p-2" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>       
    </div> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>